* {
    margin: 0;
    padding: 0;
}

html {
    max-width: 100%;
}

@font-face {
    font-family: "MontserratBold";
    src: local("Montserrat-Bold"), url(Montserrat-Bold.otf) format("opentype");
}

@font-face {
    font-family: "MontserratLight";
    src: local("Montserrat-Light"), url(Montserrat-Light.otf) format("opentype");
}

@font-face {
    font-family: "MontserratRegular";
    src: local("Montserrat-Regular"), url(Montserrat-Regular.otf) format("opentype");
}

@font-face {
    font-family: "MontserratBlack";
    src: local("Montserrat-Black"), url(Montserrat-Black.otf) format("opentype");
}

@font-face {
    font-family: "MyriadProRegular";
    src: local("MyriadPro-Regular"), url(MyriadPro-Regular.otf) format("opentype");
}

.container-box {
    position: relative;
}

.logoirvirsus {
    position: relative;
    text-align: center;
    color: white;

}

.logo {
    position: absolute;
    top: 75px;
    left: 80px;
}

.background {
    position: absolute;
}


.dalisteksto {
    font-family: "MontserratBold";
    position: absolute;
    top: 265px;
    left: 80px;
    font-size: 74px;

}

.kitadalis {
    font-family: "MontserratBlack";
    position: absolute;
    top: 365px;
    left: 80px;
    font-size: 92px;

}

.paskutinedalis {
    font-family: "MontserratBold";
    position: absolute;
    top: 650px;
    left: 80px;
    font-size: 64px;

}

.Pirmas {
    font-family: "MontserratBlack";
    position: absolute;
    text-shadow: 2px 2px 80px #373F50;
    background-blend-mode: multiply;
    top: 50%;
    left: 1535px;
    font-size: 236px;
}

.PirmasBlokas {
    position: relative;
    text-align: center;
}

.PeriodontoNuotr {
    position: absolute;
    top: -180px;
    left: 80px;
}

#Periodonto {
    width: 450px;
    height: 300px;
    border-radius: 16%;
    box-shadow: 2px 2px 80px #ED4296;
}

.EduoniesNuotr {
    position: relative;
    top: -280px;
}

#Eduonies {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 300px;
    border-radius: 16%;
    box-shadow: 2px 2px 80px #373F50;
    background-blend-mode: multiply;
}

#Fizines {
    width: 450px;
    height: 300px;
    border-radius: 16%;
    box-shadow: 2px 2px 80px #373F50;
    background-blend-mode: multiply;


}

.FizinesNuotr {
    position: absolute;
    top: -180px;
    left: 1360px;


}

#PeriodontasTekstas {
    font-family: "MontserratBold";
    position: relative;
    font-size: 30px;
    color: #ED4296;

}

#EduonisirTrauma {
    font-family: "MontserratBold";
    position: relative;
    font-size: 30px;
    color: gray;
    opacity: 35%;

}

.PirmasTekstas {
    font-family: "MontserratLight";
    text-decoration-skip: 30px;
    position: relative;
    padding-left: 728px;
    padding-right: 80px;
    top: -180px;
    text-align: left;
}

#Kreive {
    position: relative;
    top: -120px;
}

#Kreivedu {
    position: relative;
}

.Trecias {
    font-family: "MontserratBlack";
    position: relative;
    text-shadow: 2px 2px 80px #373F50;
    background-blend-mode: multiply;
    font-size: 236px;
    color: white;
    top: -260px;
    padding-left: 80px;
}

.Patarimas {
    font-family: "MontserratBold";
    position: relative;
    font-size: 64px;
    color: #ED4296;
    padding-left: 80px;
    top: -200px;
}

.stulpeliai {
    position: absolute;
    top: 3720px;
    padding-top: 50px;
    left: 80px;
    width: 650px;
    height: 650px;
    border-radius: 20px;
    box-shadow: 2px 2px 80px #ED4296;
    z-index: 20;
    background-color: white;

}

.stulpeliaidu {
    position: relative;
    padding-top: 30px;
    padding-left: -50px;
    left: 1160px;
    width: 650px;
    height: 650px;
    border-radius: 20px;
    box-shadow: 2px 2px 80px #373F50;
}

#Vardas {
    font-family: "MontserratBold";
    font-size: 40px;
    color: #ED4296;
    text-align: center;
}

#Profesija {
    font-family: "MontserratLight";
    font-size: 30px;
    text-align: center;
    color: #373F50;
}

#Aprasymas {
    padding-left: 15px;
    padding-right: 12px;
    font-family: "MontserratLight";
    font-size: 30px;
    text-align: left;
}

#Aprasymasdu {
    padding-left: 15px;
    padding-right: 12px;
    font-family: "MontserratLight";
    font-size: 30px;
    text-align: left;
}


.Lior {
    margin-left: 130px;
    border-top: 3px solid #bbb;
    max-width: 390px;

}

.Monika {
    margin-left: 130px;
    border-top: 3px solid #bbb;
    max-width: 390px;

}

#LiorNuotr {
    position: absolute;
    margin-top: -990px;
    margin-left: 256px;
    width: 420px;
    height: 420px;
}

#MonikaNuotr {
    position: absolute;
    margin-top: -910px;
    left: 275px;
    width: 420px;
    height: 420px;
}

#Kreivetrys {
    position: relative;
    top: -150px;
}

.Sestas {
    font-family: "MontserratBlack";
    position: relative;
    text-shadow: 2px 2px 80px #373F50;
    background-blend-mode: multiply;
    font-size: 236px;
    color: white;
    top: -200px;
    padding-left: 1490px;
}

#paprasta {
    padding-left: 80px;
    font-family: "MontserratBold";
    font-size: 67px;
    text-align: left;
    color: #373F50;
}

#zingsnis {
    padding-left: 80px;
    font-family: "MontserratBlack";
    font-size: 120px;
    text-align: left;
    color: #ED4296;
}

#registracija {
    padding-left: 350px;
    font-family: "MontserratBold";
    font-size: 80px;
    text-align: center;
    color: #373F50;
}

#konsultacija {
    padding-left: 80px;
    font-family: "MontserratLight";
    font-size: 60px;
    text-align: center;
    color: #373F50;
}

p {
    margin: 0
}

span {

    font-family: "MontserratBold";
    font-size: 116px;
    text-align: left;
    color: #ED4296;
}

.center-block {
    display: inline;
    border-radius: 18px;
    width: 560px;
    height: 65px;
    text-align: center;
    font-size: 30px;
    border-color: #373F50;
}

form {
    padding-left: 250px;
}

.registruotis input {
    font-family: "MontserratBold";
    font-size: 70px;
    color: white;
    background-color: red;
    border-color: red;
    width: 630px;
    height: 90px;
    box-shadow: 2px 2px 80px #ED4296;
    background-blend-mode: multiply;
}

.rodykle {
    position: relative;
    top: 80px;
    width: auto;
    height: 780px;
    float: right;

}

footer {
    padding-top: 200px;
}
